<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>jsp1222</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  
  <!-- servletContext  -->
  <!-- <context-param>
    <param-name>conId</param-name>
    <param-value>conaaa</param-value>
  </context-param>
  <context-param>
    <param-name>conPw</param-name>
    <param-value>con1111</param-value>
  </context-param>
   -->
  
  
<!--   <servlet>
    <servlet-name>s1222_02</servlet-name>
    <servlet-class>com.java.ex.s1222_02</servlet-class>
    <init-param>
       <param-name>userId</param-name>
       <param-value>bbb</param-value>
    </init-param>
    <init-param>
       <param-name>userPw</param-name>
       <param-value>1234</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>s1222_02</servlet-name>
    <url-pattern>/s002</url-pattern>
  </servlet-mapping>  -->
  
  
  
<!-- ServletConfig 선언 -->
<!--   <servlet>
    <servlet-name>s1222_01</servlet-name>
    <servlet-class>com.java.ex.s1222_01</servlet-class>
    <init-param>
       <param-name>mapId</param-name>
       <param-value>bbb</param-value>
    </init-param>
    <init-param>
       <param-name>mapPw</param-name>
       <param-value>1234</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>s1222_01</servlet-name>
    <url-pattern>/s001</url-pattern>
  </servlet-mapping> --> 
 
  
  
  
</web-app>